.hidden {
  display: none;
}

.b-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.b-name-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.dots-btn {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  border: none;
  font-weight: 900;
  padding-bottom: 0.5rem;
  cursor: pointer;
  margin-left: 5px;
}
.b-title {
  font-size: 25px;
  font-weight: 600;
  margin-right: 5px;
}
.profile-pic-list {
  display: flex;
  flex-direction: row;
}
.collaborator-list {
  display: flex;
  flex-direction: row;
}

.pin-img-board-page {
  width: 270px;
  height: 350px;
  border-radius: 20px;
}

.detail-container {
  margin-left: 80px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  gap: 30px;
}

.profile-pic-list,
.pin-img-div {
  cursor: pointer;
}

.pin-container1 {
  padding-top: 0px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-auto-rows: 1px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  box-sizing: border-box;
  z-index: -1;
}
