.hidden {
  display: none;
}

.b-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  width: 488px;
  word-wrap: break-word;
  margin-bottom: 1rem;
}

.b-title {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  align-self: center;
  justify-content: center;
  width: 100%;
  word-wrap: break-word;
}
.dots-btn {
  background-color: #efefef;
  border: none;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  width: 32px;
  height: 100%;
}

.dots-btn:hover {
  filter: brightness(95%);
}

.fa-solid.fa-ellipsis {
  font-weight: 600;
  font-size: 18px;
  line-height: normal;
}

.profile-pic-list {
  display: flex;
  flex-direction: row;
}

.collaborator-list {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-top: 10px;
}

.collaborator-list:hover {
  filter: brightness(95%);
}

.pin-img-board-page {
  width: 270px;
  height: 350px;
  border-radius: 20px;
}

.detail-container {
  margin-left: 80px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  gap: 30px;
}

.profile-pic-list,
.pin-img-div {
  cursor: pointer;
}

.pin-container1 {
  padding-top: 0px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-auto-rows: 1px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  box-sizing: border-box;
  z-index: -1;
}

.creator-img1 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}
.creator-img1 {
  background-color: #e9e9e9;
  object-fit: cover;
  border-radius: 50%;
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -20px;
  border: 1px solid white;
  color: #111;
}

.fa-solid.fa-plus.plus-collab {
  font-size: 24px;
  font-weight: 600;
}

.creator-img2 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  border: 1.5px solid #efefef;
}
