/* TODO Add site wide styles */
* {
  margin: 0px 0px;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica,
    "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo,
    "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  list-style-type: none;
}

:root {
  /* General colors: */
  --white: #ffffff;
  --black: #000000;
  --dark-gray: #999999;
  --light-gray: #cccccc;
  --red: #ff5a5f;
  --teal: #00525e;
  --light-teal: #e8f0fe;

  /* Colors for pinthis */
  --color-text: #111111;
}

html body {
  margin: 2px 16px;
  height: 100%;
  padding-top: 80px;
}

.cursor {
  cursor: pointer;
}

.btn-animation {
  transition: transform 0.3s ease;
}

.btn-animation:active {
  transform: scale(0.8);
}

.a83 {
  transition: transform 0.2s ease;
}

.a83:active {
  transform: scale(0.83);
}

.a85 {
  transition: transform 0.2s ease;
}

.a85:active {
  transform: scale(0.85);
}

.a87 {
  transition: transform 0.2s ease;
}

.a87:active {
  transform: scale(0.87);
}

.a90 {
  transition: transform 0.2s ease;
}

.a90:active {
  transform: scale(0.9);
}

.a95 {
  transition: transform 0.2s ease;
}

.a95:active {
  transform: scale(0.95);
}

.a97 {
  transition: transform 0.2s ease;
}

.a97:active {
  transform: scale(0.97);
}

.a99 {
  transition: transform 0.2s ease;
}

.a99:active {
  transform: scale(0.99);
}
