/* TODO Add site wide styles */
* {
  margin: 0px 0px;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica,
    "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo,
    "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  list-style-type: none;
}

:root {
  /* General colors: */
  --white: #ffffff;
  --black: #000000;
  --dark-gray: #999999;
  --light-gray: #cccccc;
  --red: #ff5a5f;
  --teal: #00525e;
  --light-teal: #e8f0fe;

  /* Colors for pinthis */
  --color-text: #111111;
}

html body {
  margin: 2px 16px;
  height: 100%;
  padding-top: 80px;
}

.cursor {
  cursor: pointer;
}
