.collaborator-user-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.collaborator-user-image:hover {
  filter: brightness(87%);
}

#collaborators-modal-container {
  width: 400px;
  max-height: 600px;
  margin: 20px;
}

.collaborator-user-image-container {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(212, 212, 212);
  background-color: white;
  z-index: 1000;
}

.collaborator-user-image-container p:hover {
  text-decoration: underline;
}

#invite-collaborator-back-icon {
  background-color: transparent;
  width: max-content;
  height: fit-content;
  border-radius: 50%;
  padding: 3px;
}

#invite-collaborator-back-icon:hover {
  background-color: var(--btn-grey);
  cursor: pointer;
}

.edit-board-user-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#collaborators-list {
  display: flex;
  flex-direction: column;
}

.single-user-container-owner {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.single-user-container-owner p {
  margin-left: 10px;
}

.single-user-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.single-user-container p {
  margin-left: 10px;
}

.single-user-container-with-button {
  display: flex;
  justify-content: space-between;
}

.collaborator-invite-button {
  background-color: var(--pinterest-red);
  border-radius: 20px;
  color: #fff;
  padding: 10px 15px;
  margin-bottom: 20px;
  border: none;
}

.collaborator-invite-button:hover {
  cursor: pointer;
  background-color: var(--btn-red-hover);
}

.collaborator-invite-button:disabled {
  background-color: rgb(184, 184, 184);
  border-radius: 20px;
  color: #fff;
  padding: 10px 15px;
  margin-bottom: 20px;
  border: none;
  cursor: auto;
}

#invite-collaborator-title-container {
  display: flex;
  justify-content: center;
}

#invite-collaborator-title {
  font-weight: 600;
  font-size: 27px;
  border: 0;
  height: 48px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

#invite-collaborator-back-icon i {
  font-size: 20px;
  margin: 10px;
}
